.Panel {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: red;
	transition: top .25s ease-out;
    will-change: top;
}

.Panel-toggle {
	padding: 5px;
	margin: 5px;
    text-align: center;
	background: rgba(255, 255, 255, .25);
}

.is-active .Panel-toggle {
	background: rgba(255, 255, 255, .75);
}

.Panel.is-open {
	top: 0;
}

.Panel.is-closed {
	top: 90%;
}

.Panel.is-active {
	transition: none;
}